* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 7vh;
    border-bottom: black 1px solid;
    align-items: center;
    display: flex;
}